/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full pipeline test. Use as follows:
 *   nextflow run nf-core/atacseq -profile test_full,<docker/singularity>
 */

params {
  config_profile_name = 'Test 5 profile'
  config_profile_description = 'Test 5 dataset to check pipeline function'

  // Input data
  input = 'https://raw.githubusercontent.com/fabian-0520/nextflow/master/evaluation_assets/nf-core/atacseq/input_sources/5.csv'

  // Genome references
  genome = 'hg19'
}
